<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Countdown</title>

    <!-- Bootstrap core CSS -->
    <link href="../staticfiles/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../staticfiles/css/justified-nav.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Digital Time Capsule</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="dtc">DTC</a></li>
            <li><a href="timecapsule">The Project</a></li>
            <li><a href="engineeringnotes">Engineering Notes</a></li>
            <li class="active"><a href="countdown">Countdown</a></li>
            <li><a href="upload">Upload</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </nav>
      </div>
    <script type="text/javascript">
       var deadline = '2016-06-01 06:10:00 GMT-5:00';
       function getTimeRemaining(endtime){
          var t = Date.parse(endtime)-Date.parse(new Date());
          var seconds = Math.floor((t/1000)%60);
          var minutes = Math.floor((t/1000/60)%60);
          var hours = Math.floor((t/(1000*60*60))%24);
          var days = Math.floor(t/(1000*60*60*24));
          return{'total':t, 'days':days,'hours':hours,'minutes':minutes,'seconds':seconds};
       }
 function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var timeinterval = setInterval(function(){
    var t = getTimeRemaining(endtime);
    clock.innerHTML = t.days + ' days, ' +
                      t.hours + 'h, ' +
                      t.minutes + 'm, ' +
                      t.seconds + 's';
    if(t.total<=0){
      clearInterval(timeinterval);
    }
  },1000);
}
window.onload=function(){initializeClock('clockdiv',deadline);}
    </script>
<style type="text/css">
#clockdiv{ 
font-size: 46px; 
text-align: center;
}
</style>
<div id=clockdiv></div>
<center>
<h2> Until I have to wake up for TJSTAR </h2>
</center>
<hr>
<p>&copy Anya Owsenek, Bell-TJ Labs, Edu. </p>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
